<div class="section">
  <div class="container">
    <p class="title is-1">Log in</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      
      <%= rucaptcha_input_tag(class: 'form-control', placeholder: '请输入验证码') %>
      <%= rucaptcha_image_tag(alt: 'Captcha') %>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: 'button is-primary'%>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>