<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: 'label' %>
    <p class="control">
      <%= form.text_field :title, class: 'input', required: 'required' %>
    </p>
  </div>

  <div class="field">
    <%= form.label :content, class: 'label'  %>
    <p class="control">
      <%= form.text_area :content, class: 'textarea', rows: "10"%>
    </p>
  </div>

  <div class="actions">
    <%= form.submit class: 'button is-primary' %>
    <%= link_to 'Back', articles_path, class: 'button is-is-light'%>
  </div>
<% end %>
