<div class="section">
  <div class="container">
    <p content="content">
      <% if policy(Article).new? %>
        <%= link_to 'New Article', new_article_path, class: 'button is-primary' %>
      <% end%>
    </p>
    <table class="table is-fullwidth">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td><%= article.title %></td>
            <td><%= article.content %></td>
            <td>
              <%= link_to 'Show', article %>
              <%if policy(article).update? %>
                <%= link_to 'Edit', edit_article_path(article) %>
              <%end%>
              <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
              <%if policy(article.comments.build).new? %>
                <%= link_to 'new comment', new_article_comment(article) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

