<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<strong>content:</strong>
<%= render @article.comments %>


<div class="section">
  <div class="container">
    <p class="title is-1">New comment</p>
    <%= render 'comments/form', article: @article, comment: @comment %>
  </div>
</div>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>