<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @role.permissions %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
