<nav class="navbar has-shadow">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to 'Role Core', root_path, class: 'navbar-item' %>
    </div>
    <div class="navbar-end">
      <%= link_to 'Home', root_path, class: "navbar-item #{"is-active" if current_page?(root_path)}" %>
      <%= link_to 'Users', accounts_path, class: "navbar-item #{"is-active" if controller_name == "users"}" %>
      <%= link_to 'Roles', roles_path, class: "navbar-item #{"is-active" if %w(roles).include? controller_name}" %>
      <%= link_to 'Article', articles_path, class: "navbar-item #{"is-active" if %w(projects tasks).include? controller_name}" %>
      <% if current_user %>
        <%= link_to "Sign out #{current_user.email}", destroy_user_session_path, class: "navbar-item", method: :delete %>
      <% else %>
        <%= link_to '注册', new_registration_path(:user),class: "navbar-item" %>
        <%= link_to '登录', new_session_path(:user), class: "navbar-item" %>
      <% end %>
    </div>
  </div>
</nav>
