<div class="section">
  <div class="container">
    <p content="content">
      <%= link_to 'New user', new_account_path, class: 'button is-primary' %>
    </p>
    <table class="table is-fullwidth">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td>
            <%= link_to 'Edit', edit_account_path(user) %> |
            <%= link_to 'Destroy', account_path(user), method: :delete, data: {confirm: 'Are you sure?'} %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

