<div class="section">
  <div class="container">
    <p class="title is-1">Sign up</p>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <div class="form-group">
          <%= rucaptcha_input_tag(class: 'form-control', placeholder: 'Input Captcha') %>
          <%= rucaptcha_image_tag(alt: 'Captcha') %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: 'button is-primary' %>
        </div>
      <% end %>
      <%= render "users/shared/links" %>
  </div>
</div>